div { 
    background-color: darkgrey;
    text-align: center;
    
}
img {
    
    border-radius: 20px;
    border-color:darkblue;
    border-width: 30px;
}
h1 {
    color:brown;
}
h2{
    color:darkred;
}
