div { 
    background-color: aquamarine;
    text-align: center;
    color:brown;
    
}
img {
    border-radius: 10px;
    border-radius: 10px;
    border-color: chartreuse;
}
h1 {
    color:brown;
}
